{% extends "base.html" %}
{% load static %}
{%block pagetitle%}{{month|capfirst }} Challenge {%endblock%}
{%block cssFile%}
<link rel="stylesheet" href="{% static 'Challenges/Challenge.css' %}">
<link rel="stylesheet" href="{% static 'Challenges/includes/header.css' %}">

{%endblock%}
{%block content%}
    {% include "Challenges/includes/header.html" %}
    <h1>{{month|capfirst}}</h1>
    {%if text is not None%}
       <h2>{{text}}</h2> <!--we got the value of key text from render third argument which is a dictionary we stored key in -->
    {% else %}
    <p>
        There is no Challenge for this month yet 
    </p>
       {% endif %}
{%endblock%}