{% extends "base.html" %}
{% load static  %}
{%block cssFile%}
<link rel="stylesheet" href="{% static 'Challenges/Challenges.css' %}">
<link rel="stylesheet" href="{% static 'Challenges/includes/header.css' %}">

{%endblock%}
{%block pagetitle%}
All Challanges
{%endblock%}

{%block content%}
{% include "Challenges/includes/header.html" %}
    <ul>
       {%for month in month_list %}
       <li><a href = "{% url "month-challenge" month  %}">{{ month|capfirst }}</a></li>
       {% endfor %}
    </ul>
{%endblock%}